
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new mesaage </title>
</head>
<body>
    <h3> write new chat </h3>
    <form  method="POST" action="/chats">
        <input placeholder="who are you?" name="from">
        <br>
        <textarea name="msg"> write your msg her ...</textarea>
        <br>
        <input placeholder="add receiver" name="to">
        <br>
        <button> create chat </button>
    </form>
</body>
</html>