<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    
</head>
<body>
    <h2> The total no. of users are: <%= Count %></h2>
    <button> join us today</button>
</body>
</html>